.App {
  font-family: sans-serif;
  text-align: center;
}

td {
  background-color: blue;
  color: white;
  width: 20px;
  height: 20px;
}

.onex {
  background: green;
  transform: rotatex(0deg);
  max-height: 100px;
}

.twoy {
  background: orange;
  transform: rotateX(-90deg);
  max-height: 100px;
}

.rotate {
  transform: rotateX(-45deg);
}
